<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>500 - Internal server error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container" align="center">
    <h1><i class='far fa-frown'></i></h1>
    <h2>Something went wrong.</h2>
    <h3 style="color:red">We couldn't complete your request for some reasons: </h3>
    <p> - You are have made something bad.</p>
    <p> - We are have made something bad.</p>
    <br>
    <p>
        <a href="/">
            <span class="glyphicon glyphicon-home"></span> Back the Home Page
        </a>
    </p>
</div>
</body>
</html>